* {
  margin: 0;
  padding: 0;
  font-family: "Gotham", Arial, sans-serif;
  color: #424242;
  font-size: 16px;
  letter-spacing: normal;
}


a:link    {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover   {text-decoration: none;}
.nav-links li:hover  { text-decoration: none;border-bottom-style: solid ;
  border-color: darkslategray; border-bottom-width: 2px;}
a:active  {text-decoration: none;}



.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 100px;
}

.CurPage {
    font-size: 2rem;
    border-color: darkslategray;
    font-weight: 500;
    display: inline-block;
    position: relative;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-right:20px;
    margin-left: 20px;
}


.OtherPage {
    font-size: 2rem;
    font-weight: 500;
    display: inline-block;
    position: relative;
    margin-right:20px;
    margin-left: 20px;
}


body {
    font-family: Arial, sans-serif;
    text-align: center;
    box-sizing: border-box;
}

header {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    color: #333;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size:30px
}


p {
    width: 60%;
    text-align: justify;
    margin: 0 auto;
    margin-top: 40px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
}

.profile-pic {
    max-width: 40%;
    height: auto;
    border-radius: 50%;
}

.interests {
    text-align: left;
    margin: 20px;
    max-width: 40%;
}

.interests ul {
    list-style-type: none;
    padding: 0;
}

.interests li {
    margin-bottom: 10px;
}

.about-me {
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    margin-top: 100px;
}

.line {
    width: 80%;
    margin: 20px auto;
    border-bottom: 2px solid #ccc;
}

#cv-link {
    display: inline-block;
    margin: 20px 0 40px;
    padding: 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
